beautifulsoup4==4.12.3
br_gender==0.1.0
numpy==2.2.0
pandas==2.2.3
pytorch_crf==0.7.2
PyYAML==6.0.2
Requests==2.32.3
scipy==1.14.1
spacy==3.8.2
torch==2.5.1+cu118
tqdm==4.67.1
transformers==4.46.3
xmltodict==0.14.2